body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background: #107afa;
    padding: 20px;
    text-align: center;
    color: rgb(5, 6, 73);
}

nav a {
    margin: 0 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.hero {
    padding: 50px;
    text-align: center;
    background: rgb(252, 252, 252);
    margin: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
